.greeting
	+relative()
	background-color: $color-black
	color: $color-white
	z-index: 1
	overflow: hidden

	&:after
		content: ""
		+absolute(0, null, null, 0)
		+size(100%)
		background-image: linear-gradient( -87deg, rgb(56,124,237) 0%, rgb(30,27,83) 100%)
		opacity: 0.3
		z-index: 1

	&:before
		content: ""
		+absolute(null, 0, 0)
		+size(100%, 50px)
		background: linear-gradient(to top,rgba(0, 0, 0, 0.75) 0,rgba(0,0,0,0) 100%)
		z-index: 2

		+min(md)
			height: 130px

	&__container

		+padding-y(30px)



		+min(sm)
			+padding-y(45px)

		+min(md)
			+padding-y(100px)

		+min(lg)
			+padding-y(120px)

		&_thx
			+min(md)
				+padding-y(150px, 180px)

	&__content
		+relative()
		z-index: 2

		+max(sm)
			z-index: 4

	&__subtitle
		margin-bottom: 15px
		font-size: 14px
		color: $color-brand-1

		+max(sm)
			br
				display: none

		+min(sm)
			margin-bottom: 30px

	&__title
		margin-bottom: 30px
		font-size: 40px
		line-height: 1.1
		+font('b')

		+min(lg)
			font-size: 45px

		+min(md)
			font-size: 50px

		+min(lg)
			font-size: 58px

	&__motivation
		margin-bottom: 30px
		font-size: 18px

		+min(sm)
			font-size: 20px
			margin-bottom: 45px

		+min(lg)
			font-size: 21px

	&__btn
		margin-bottom: 30px
		+min(sm)
			margin-bottom: 40px

	&__place
		font-size: 14px

	&__bubble
		@keyframes bubbleMove
			0%,100%
				transform: none
			50%
				transform: translateY(45px)

		+size(60px)
		+absolute()
		border-radius: 100%
		background-image: linear-gradient( 90deg, rgb(153,230,247) 0%, rgb(12,26,49) 100%)
		opacity: 0.25
		animation: bubbleMove 10s linear 0s infinite alternate
		z-index: 4

		+min(sm)
			+size(100px)

		+min(lg)
			+size(140px)

		&_1
			top: -15px
			left: -15px
			animation-delay: 1s

		&_2
			bottom: 5%
			left: 5%
			animation-delay: 4s
			+min(sm)
				+size(100px)

		&_3
			right: 5%
			bottom: 5%
			animation-delay: -5s
			

		&_4
			left: 55%
			top: 0%
			animation-delay: 0s

		&_5
			left: 50%
			bottom: 5%
			animation-delay: 2s
			+min(sm)
				+size(90px)
		

	&__bg
		@keyframes greetingBg
			100%
				transform: none
		animation: greetingBg 20s linear 0s 1 forwards
		+max(sm)
			max-width: 250px
		+min(sm)
			+absolute(0, 0)
			width: 65%

		+min(md)
			right: -200px
			transform: translateX(90%)
			width: auto

	&__column-image
		+max(sm)
			text-align: right

	&__dollar
		display: none
		+min(sm)
			display: inline-block
			position: absolute

			@keyframes dollarMove
				0%,100%
					transform: none
				50%
					transform: translateY(45px)

			&_1
				right: 290px
				bottom: 75px
				transform: rotate(-30deg)
				max-width: 200px
				img
					animation: dollarMove 20s linear 0s infinite alternate

			&_2
				right: 170px
				bottom: 75px
				transform: rotate(70deg)
				max-width: 250px
				img
					animation: dollarMove 15s cubic-bezier(0.4, 0, 1, 1) 5s infinite alternate

			&_3
				right: 135px
				bottom: -5px
				max-width: 300px
				img
					animation: dollarMove 30s linear -5s infinite alternate
				
		+min(md)
			&_1
				right: 320px
				bottom: 40px
				max-width: 300px
			&_2
				right: 220px
				bottom: 80px
				max-width: 280px
			&_3
				right: 110px
				bottom: -55px
				max-width: 460px



	&__thx
		@at-root
			%greeting-thx-offset
				margin-bottom: 30px
				+min(md)
					margin-bottom: 45px
		&-title
			@extend %greeting-thx-offset
			font-size: 20px
			line-height: 1.1
			
			+min(md)
				font-size: 25px

			+min(lg)
				font-size: 30px

		&-subtitle
			@extend %greeting-thx-offset
			font-size: 18px

			+min(md)
				font-size: 23px

			+min(lg)
				font-size: 26px

		&-action
			+min(sm)
				display: flex
				align-items: center

		&-btn
			text-align: center

		&-motivation
			+min(sm)
				margin-right: 15px