.request

	&__header
		+min(md)
			max-width: 75%

	&__title
		+min(md)
			font-size: 45px

	&__row
		+min(sm)
			justify-content: center

	&__item
		+max(sm)
			+offset()
		&-inner
			padding: 30px 15px
			+relative()
			color: $color-white
			+min(sm)
				padding: 45px 30px
				height: 100%
		&-image
			+absolute(0, 0)
			+size(100%)
			object-fit: cover
			z-index: -1

		&-title
			margin-bottom: 15px
			text-transform: uppercase
			line-height: 1.1
			font-size: 30px

			+min(md)
				margin-bottom: 30px
				font-size: 40px

			+min(lg)
				font-size: 48px

		&-list
			margin-bottom: 30px
			+min(md)
				font-size: 18px

			li
				padding-left: 30px
				+offset(10px)
				&:after
					content: "+"
					+absolute(0, null, null, 0)

			.last
				display: block
				margin-top: 30px
				text-transform: uppercase

				+min(md)
					margin-top: 45px

			.crossed
				color: #ababab
				text-decoration: line-through

		&-price
			margin-bottom: 15px
			+min(sm)
				font-size: 19px

		&-warning
			font-size: 13px
			color: #989898
			margin-bottom: 15px