.number-item
	&:not(:last-child)
		margin-bottom: 30px
		
	&__number
		margin-bottom: 10px
		font-size: 30px
		line-height: 1
		color: $color-brand-1
		+font('b')

		+min(sm)
			font-size: 40px

		+min(md)
			margin-bottom: 15px
			font-size: 45px

		+min(lg)
			font-size: 60px

	&__content
		font-size: 14px

	&_brand-2 &__number
		background: linear-gradient(to bottom, rgba(36,83,235,1) 0%,rgba(125,185,232,1) 100%)
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;