+b("section")
  +relative()
  +margin-y(50px)

  &__title
  	line-height: 1.1
  	text-transform: uppercase
  	font-weight: normal

  	font-size: 25px

  	+min(sm)
  		font-size: 30px

  	+min(lg)
  		font-size: 36px